*{
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: "tanseek";
    src: url(../../Fonts/tanseek-modern-pro-arabic.ttf);
}
.section-3-main-container{
    width: 100%;
    height: 150vh;
    /* background-color: #6e0707; */
}


/* ///////////////Navbar////////////// */


#navbarSupportedContent{
    /* background-color: yellowgreen; */
    
    overflow: hidden;
   
  

}
#navbarsupport{
    /* background-color: blue; */
    width: 860px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
  
}
#section-1-button{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}
.nav-item{
    /* background-color: red; */
    width: 116px;
    font-size: 15px;
    color: black;
}
#section1-figma-wave{
    margin-left: 54%;
    position: absolute;
    margin-top: -260px;

}
#section1-nav{
    position: relative;
    height: 90px;
    width: 100%;
    /* background-color: yellow; */
    overflow: hidden;
    z-index: 1;
}
#section-1-nav-head{
    width: 130px;
    height: 70px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: bold;   
    font-size: 22px;
    font-family: "tanseek";
}
.section-3-first-part{
    width: 100%;
    height: 150px;
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-3-head-categry{
    color: darkgray;
    text-align: center;
}
.section-3-head-offrsandservices{
    font-size: 50px;
    /* color: rgb(161, 0, 0); */
    text-align: center;
}
.section-3-second-part{
    width: 100%;
height: 364px;
/* background-color: #03aa1e; */
display: flex;
justify-content: center;
align-items: center;
}
.section-3-secnd-part-sub-one{
    width: 70%;
    height: 300px;
    /* background-color: #14b3cf; */
    display: flex;
justify-content: space-around;
align-items: center;
}
.section-3-secnd-part-cards{
    width: 200px;
    height: 270px;
    background-color: whitesmoke;
    border-radius: 30px;
    position: relative;
    
}
.section-3-cards-imgs{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}
.section-3-card-div2{
    /* background-color: aqua; */
    width: 180px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;

}
.section-3-card-div3{
    width: 130px;
    height: 30px;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-3-compass{
    width: 13px;
    height: 13px;
}
.section-3-springs{
    /* background-color: red; */
    position: absolute;
    margin-left: 61%;
}


/* foooter/////////////////////////////////////////////////////////////////////////// */


.section-5-footer-div{
    width: 100%;
    height: 260px;
    /* background-color: red; */
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-5-footer-main{
    width: 61%;
    height: 160px;
    /* background-color: violet; */
    display: flex;
    justify-content: space-evenly;
}
.section-5-footer-main2{
    width: 61%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5-footer-details-1{
    width: 200px;
    height: 160px;
    /* background-color: yellow; */
}
.section-5-footer-details-2{
    width: 130px;
    height: 160px;
    /* background-color: yellow; */
}
.section-5-footer-details-3{
    width: 130px;
    height: 160px;
    /* background-color: yellow; */
}
.section-5-footer-details-4{
    width: 130px;
    height: 160px;
    /* background-color: yellow; */
}
.section-5-footer-details-5{
    width: 200px;
    height: 160px;
    /* background-color: yellow; */
}
.section-footer-box-1{
    width: 200px;
    /* background-color: red; */
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;

}
.section-footer-234{
    width: 130px;
    /* background-color: green; */
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
}
.section-footer-list{
    width: 200px;
    /* background-color: rgb(104, 129, 104); */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 13px;
    padding-top: 10px;
}
.section-footer-list2{
    width: 130px;
    /* background-color: rgb(42, 145, 230); */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.section-footer-li{
    color: grey;
    font-size: 14px;
    font-weight: bold;
}
.section-5-footer-social{
    width: 200px;
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-5-footer-discover{
    width: 200px;
    height: 30px;
    /* background-color: blue;  */
    display: flex;
    justify-content: start;
    align-items: center;

}
.section-5-footer-apps{
    width: 200px;
    height: 50px;
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-5-soc{
    width: 25px;
    height: 25px;
}
.section-5-soc1{
    width: 30px;
    height: 30px;
}
.section-5-footer-img-div{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5-dis{
    color: grey;
    font-weight: bold;
    font-size: 16px;
}
.section-footer-biglist{
    color: grey;
}
.section-5-footer-last{
    color: grey;
    font-size: 12px;
}
